.table tbody tr td{
	padding:0;
	margin:0;
	border-bottom: 0px;
	font-size: 13px;
	padding-top: 10px;
}	
.table thead tr th{
	padding:0;
	border:0px;
	color:#F55753;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #f13d5b;
	border-color: #f13d5b;
}